*,
*::after,
*::before{
  box-sizing: border-box;
}
:root{
  background: radial-gradient(50% 50% at 50% 50%, #D5F3FF 0%, #51B4E8 100%);  
}
.country_card{
    padding: 1rem;

    font-family: sans-serif;

    color: white;
    background-color: rgb(74, 105, 168);
    border-radius: 10px;
}
.country_card_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country_card_img img{
    max-width: 100%;
}